.autumn {
    background-image: url("autumn.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-dark {
    background-color: #343a40eb!important;
    border-radius: 4px;
    background-blend-mode: difference;
}
